@font-face {
    font-family: "golb";
    src: url(../fonts/Golos-Text_Bold.ttf);
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "gol";
    src: url(../fonts/Golos-Text_DemiBold.ttf);
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "gol";
    src: url(../fonts/Golos-Text_Regular.ttf);
    font-weight: 100;
    font-style: normal;
}